<p id="notice"><%= notice %></p>

<h1>Wedding Party Members</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Role</th>
      <th>Relationship</th>
      <th>Relationshipto</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wedding_party_members.each do |wedding_party_member| %>
      <tr>
        <td><%= wedding_party_member.firstName %></td>
        <td><%= wedding_party_member.lastName %></td>
        <td><%= wedding_party_member.role %></td>
        <td><%= wedding_party_member.relationship %></td>
        <td><%= wedding_party_member.relationshipTo %></td>
        <td><%= wedding_party_member.project_id %></td>
        <td><%= link_to 'Show', wedding_party_member %></td>
        <td><%= link_to 'Edit', edit_wedding_party_member_path(wedding_party_member) %></td>
        <td><%= link_to 'Destroy', wedding_party_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wedding Party Member', new_wedding_party_member_path %>
