<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @wedding_party_member.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @wedding_party_member.lastName %>
</p>

<p>
  <strong>Role:</strong>
  <%= @wedding_party_member.role %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @wedding_party_member.relationship %>
</p>

<p>
  <strong>Relationshipto:</strong>
  <%= @wedding_party_member.relationshipTo %>
</p>

<p>
  <strong>Project:</strong>
  <%= @wedding_party_member.project_id %>
</p>

<%= link_to 'Edit', edit_wedding_party_member_path(@wedding_party_member) %> |
<%= link_to 'Back', wedding_party_members_path %>
