<%= form_with(model: user, class: "p-10 pt-3 bg-white rounded flex justify-center items-center flex-col shadow-xl text-base") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :username, placeholder: t('placeholder-username'), class: "mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" %>
  </div>

  <div class="field">
    <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :email, placeholder: t('placeholder-email'), class: "mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" %>
  </div>

  <div class="field">
    <%= form.label :role, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :role, User.roles.keys.map{ |key, value| [ t("activerecord.attributes.user.role_#{key}"), key ] }, {}, { class: "mb-5 p-3 focus:border-purple-700 block w-80 rounded border-2 outline-none" } %>
  </div>

  <!--<div class="field">
    <%= form.label :avatar, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :avatar, class: "mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" %>
  </div>-->

  <div class="field">
    <%= form.label :password, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :password, placeholder: t('placeholder-password'), class: "mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" %>
  </div>

  <div class="actions">
    <div class="action">
      <%= button_tag( :class => "bg-green-600 hover:bg-green-900 text-white font-bold my-5 p-2 rounded w-80 block") do %>
        <i class="fas fa-user-plus mr-3"></i><%= t('action-register') %>
      <% end %>
    </div>
    <div class="action">
      <%= link_to users_path, class: "bg-gray-900 hover:bg-gray-600 text-white font-bold my-5 mb-0 p-2 rounded w-80 block" do %>
        <i class="fas fa-backspace mr-3"></i><%= t('action-cancel') %>
      <% end %>
    </div>
  </div>

<% end %>
