<%= form_with(model: user, class: "p-10 pt-3 bg-white rounded flex justify-center items-center flex-col shadow-xl text-base") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :username, placeholder: t('placeholder-username'), class: "mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" %>
    <p class="text-sm mb-5 italic text-gray-500"><%= t('pages.userEdit.usernameMessage') %></p><!-- A username is usually a short name without spaces or special symbols. It could be a screen name, a nickname, your first and last name combined... -->
  </div>

  <div class="field">
    <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :email, placeholder: t('placeholder-email'), class: "p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" %>
    <p class="text-sm mb-5 italic text-gray-500"><%= t('pages.userEdit.emailEditMessage') %></p><!-- If you change this, we will send you an email at your new address to confirm it. The new address will not become active until confirmed. -->
  </div>

<% if action_name == 'edit' %>
  <div class="field">
    <%= form.label :role, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :role, User.roles.keys.map{ |key, value| [ t("activerecord.attributes.user.role_#{key}"), key ] }, {}, { class: "mb-5 p-3 focus:border-purple-700 block w-80 rounded border-2 outline-none" } %>
  </div>
<% elsif action_name == 'new' %>
  <div class="field">
    <%= form.label :role, class: "block text-sm font-medium text-gray-700" %>
    <%= form.select :role, User.roles.keys.map{ |key, value| [ t("activerecord.attributes.user.role_#{key}"), key ] }, {}, { class: "mb-5 p-3 focus:border-purple-700 block w-80 rounded border-2 outline-none" } %>
  </div>
<% end %>

  <!--<div class="field">
    <%= form.label :avatar, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :avatar, class: "mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" %>
  </div>-->
<% if action_name == 'edit' %>
  <%= button_tag( :class => "bg-indigo-600 hover:bg-indigo-900 text-white font-bold my-5 p-2 rounded w-80 block", :type => 'button') do %>
    <i class="fas fa-key mr-3"></i><%= t('action-reset-password') %>
  <% end %>
<% elsif action_name == 'new' %>
  <div class="field">
    <%= form.label :password, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :password, placeholder: t('placeholder-password'), class: "mb-5 p-3 w-80 focus:border-purple-700 rounded border-2 outline-none" %>
  </div>
<% end %>

  <div class="actions">
    <div class="action">
      <%= button_tag( :class => "bg-blue-600 hover:bg-blue-900 text-white font-bold my-5 p-2 rounded w-80 block") do %>
        <% if action_name == 'edit' %>
          <i class="fas fa-user-edit mr-3"></i><%= t('action-update-account') %>
        <% elsif action_name == 'new' %>
          <i class="fas fa-user-plus mr-3"></i><%= t('action-create-account') %>
        <% end %>
      <% end %>
    </div>
    <div class="action">
      <%= link_to users_path, class: "bg-gray-900 hover:bg-gray-600 text-white font-bold my-5 mb-0 p-2 rounded w-80 block" do %>
        <i class="fas fa-backspace mr-3"></i><%= t('action-cancel') %>
      <% end %>
    </div>
  </div>

<% end %>
