<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="mx-auto bg-white shadow-lg mt-6 text-sm" style="max-width:80vw;">
  <thead>
    <tr class="bg-blue-300 text-blue-900">
      <th></th>
      <th class="px-8 py-4">Username</th>
      <th class="px-8 py-4">Email</th>
      <th class="px-8 py-4">Role</th>
      <!--<th>Avatar</th>-->
      <!--<th>Password digest</th>-->
      <th class="px-8 py-4" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user,index| %>
      <tr>
        <td class="border px-8 py-4"><%= (index+1) %></td>
        <td class="border px-8 py-4"><%= user.username %></td>
        <td class="border px-8 py-4"><%= user.email %></td>
        <td class="border px-8 py-4"><%= user.role %></td>
        <!--<td><%= user.avatar %></td>-->
        <!--<td><%= user.password_digest %></td>-->
        <td class="border px-8 py-4">
          <%= link_to user, class: "bg-blue-900 hover:bg-blue-600 text-white text-sm font-bold p-2 rounded inline-block w-40" do %>
            <i class="fas fa-user mr-3"></i><%= t('action-showUser') %>
          <% end %>
        </td>
        <td class="border px-8 py-4">
          <%= link_to edit_user_path(user), class: "bg-yellow-600 hover:bg-yellow-500 text-white text-sm font-bold p-2 rounded inline-block w-40" do %>
            <i class="fas fa-user-edit mr-3"></i><%= t('action-editUser') %>
          <% end %>
        </td>
        <td class="border px-8 py-4">
          <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-900 hover:bg-red-600 text-white text-sm font-bold p-2 rounded inline-block w-40" do %>
            <i class="fas fa-trash-alt mr-3"></i><%= t('action-deleteUser') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr class="bg-gray-300">
      <td class="border px-8 py-2 text-left" colspan="7">
        <span>Total number of user accounts:&nbsp;&nbsp;&nbsp;<b><%= @users.count %></b></span>
        <%= link_to new_user_path, class: "bg-green-900 hover:bg-green-600 text-white text-sm text-center font-bold p-2 mx-6 rounded inline-block w-60" do %>
          <i class="fas fa-user-plus mr-3"></i><%= t('action-newuser') %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
