<div class="flex flex-wrap overflow-hidden h-screen">

  <div class="my-auto px-3 w-1/3 overflow-hidden">
    <!-- Column 1 Content -->
  </div>

  <div class="my-auto px-3 w-1/3 overflow-hidden text-center">
    <!-- Column 2 Content -->
    <%= inline_svg_tag("cover.svg", class: "mx-auto", style: "max-height: 90vh; filter: drop-shadow( 4px 2px 3px rgba(0, 0, 0, 0.3));") %>
    <%# image_tag "cover.svg", :style => "max-height: 90vh; filter: drop-shadow( 4px 2px 3px rgba(0, 0, 0, 0.3));", :class => "booklet-svg mx-auto" %>
  </div>

  <div class="my-auto px-3 w-1/3 overflow-hidden">
    <!-- Column 3 Content -->
    <div class="p-10 m-4 lg:text-5xl md:text-3xl text-center tangerine subpixel-antialiased"><%= t('welcome-greeting-1') %></div>
    <div class="p-10 m-4 lg:text-5xl md:text-3xl text-center tangerine subpixel-antialiased"><%= t('welcome-greeting-2') %></div>
    <div class="text-center">
        <a href="<%= new_project_path %>" class="p-5 m-4 text-xl text-pink-500 bg-pink-100 hover:bg-pink-200 hover:text-pink-800 font-bold uppercase rounded-md outline-pink-200 inline-block">
            <%= t('get-started-link') %>
        </a>
    </div>
  </div>

</div>