<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="carousel shadow-xl">
  <div class="carousel-inner relative w-full" data-controller="tab-items">

  <!-- Slide 1 -->
  <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" checked="checked" data-action="change->tab-items#setIndex" data-tab-index=1>
  <div class="carousel-item absolute opacity-0 bg-gray-200 p-4 invisible"><!-- Inner wrapper for title + card start -->
    <h3 class="text-lg font-medium leading-6 text-gray-900 mb-3"><%= t('pages.projectNew.request_info.title') %></h3> <!-- User info -->
    <div class="px-4 sm:px-0">
      <% unless logged_in? %>
        <hr class="m-4 border-gray-400">
        <p class="mt-1 text-sm text-gray-500 italic">
          <%= t('pages.projectNew.request_info.optional_login') %>
        </p>
        <div class="text-center p-4 flex-col">
          <div class="m-2 flex justify-center items-center">
            <%= link_to login_path, class: "items-center inline-flex justify-center w-60 mx-5 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-700 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" do %>
              <i class="fas fa-sign-in-alt mr-3"></i><%= t('action-login') %>
            <% end %>
            <%= link_to new_user_path, class: "items-center inline-flex justify-center w-60 mx-5 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-700 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" do %>
              <i class="fas fa-user-plus mr-3"></i><%= t('action-register') %>
            <% end %>
          </div>
        </div>
        <hr class="m-4 border-gray-400">
      <% end %>
    </div>
    <div class="mt-5 md:mt-0"><!-- Card outer wrapper start -->
      <div class="shadow sm:rounded-md sm:overflow-hidden"><!-- Card inner wrapper start -->
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6"><!-- Card content start -->

          <% if logged_in? %>
            <% if action_name == 'new' %>
              <p class="mt-2 text-sm text-gray-500 italic"><%= t('pages.projectNew.loggedInState') %></p>
              <p class="mt-2 text-sm text-gray-500 italic"><%= t('pages.projectNew.currentUsernameAndEmail') %>:</p>
              <p><%= current_user.username %>&nbsp;&lt;<%= current_user.email %>&gt;</p>
              <p class="mt-2 text-sm text-gray-500 italic"><%= t('activerecord.attributes.user.role') %>:</p>
              <p><%= t("activerecord.attributes.user.role_#{current_user.role}") %></p>
            <% elsif action_name == 'edit' %>
              <% if project.isSecured %>
                <h5 class="text-sm md:text-base text-green-800">
                  <i class="fas fa-lock mr-3"></i><%= t('pages.projectIndex.projectIsPrivate') %>
                </h5>
                <p class="mt-2 text-sm text-gray-500 italic"><%= t('pages.projectIndex.projectUsersCount', count: @project.users.count) %>:</p>
                <% @project.users.each do |n| %>
                  <p>
                    <%= n.username %>
                    (<%= n.role %>)
                    &lt;<%= n.email %>&gt;
                  </p>
                <% end %>
              <% else %>
                <h5 class="text-sm md:text-base text-red-800">
                  <i class="fas fa-lock-open mr-3"></i><%= t('pages.projectIndex.projectIsPubliclyAccessible') %>
                  <button class="text-xs md:text-sm bg-gray-300 p-3 rounded text-gray-600 hover:bg-gray-200 hover:text-gray-700 ml-6"><i class="fas fa-key mr-3"></i><%= t('pages.projectIndex.actionSecureProject') %></button>
                </h5>
                <p class="mt-2 text-sm text-gray-500 italic"><%= t('pages.projectIndex.projectUsersCount', count: @project.users.count) %>:</p>
                <% @project.users.each do |n| %>
                  <p>
                    <%= n.username %>
                    (<%= n.role %>)
                  </p>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <% if action_name == 'new' %>
              <p class="mt-1 text-sm text-gray-500 italic"><%= t('pages.projectNew.request_info.minimum') %>:</p>
              <%= form.fields_for :users do |f| %>
                <fieldset><!-- Category person block start -->
                  <legend class="text-base font-medium text-gray-900 required"><%= t('pages.projectNew.person_category.label') %></legend>
                  <div class="grid grid-cols-4 gap-6"><!-- Email address block start -->
                    <div class="col-span-2 sm:col-span-1">
                      <%= f.label :role, class: "block text-sm font-medium text-gray-700 required" %>
                      <%= f.select :role, User.roles.keys.map{ |key, value| [ t("activerecord.attributes.user.role_#{key}"), key ] }, {}, { class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight" } %>
                    </div>
                    <div class="col-span-2 sm:col-span-3">
                      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
                      <%= f.text_field :email, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight", placeholder: "me@example.com" %>
                      <p class="mt-2 text-xs text-gray-500 italic">
                        <%= t('pages.projectNew.email_address.description') %>
                      </p>
                    </div>
                    <%= f.hidden_field :username, value: ('anonymous-' + @randomUsername) %>
                    <%= f.hidden_field :password, value: 'anonymous' %>
                    <%= f.hidden_field :password_confirmation, value: 'anonymous' %>
                  </div><!-- Email address block end -->
                </fieldset><!-- Person category block end -->
              <% end %>
            <% elsif action_name == 'edit' %>
              <p class="mt-2 text-sm text-gray-500 italic"><%= t('pages.projectIndex.projectUsersCount', count: @project.users.count) %>:</p>
              <% @project.users.each do |n| %>
                <p>
                  <%= n.username %>
                  (<%= n.role %>)
                </p>
              <% end %>
            <% end %>
          <% end %>

        </div><!-- Card content end -->
      </div><!-- Card inner wrapper end -->
    </div><!-- Card outer wrapper end -->
    <div class="flex"><button type="button" data-action="click->tab-items#nextTab" class="p-3 my-3 ml-auto mr-3 text-sm text-white bg-blue-800 hover:bg-blue-700 font-bold uppercase rounded-md outline-none inline-block focus:outline-none">Next >></button></div>
  </div><!-- Inner wrapper for title + card end -->

  <!-- Slide 2 -->
  <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" data-action="change->tab-items#setIndex" data-tab-index=2>
  <div class="carousel-item absolute opacity-0 bg-gray-200 p-4 invisible"><!-- Inner wrapper for title + card start -->
    <h3 class="text-lg font-medium leading-6 text-gray-900 mb-3"><%= t('pages.projectNew.marriageDatePlace') %></h3> <!-- User info -->
    <div class="mt-5 md:mt-0"><!-- Card outer wrapper start -->
      <div class="shadow sm:rounded-md sm:overflow-hidden"><!-- Card inner wrapper start -->
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6"><!-- Card content start -->

          <div class="grid grid-cols-4 gap-6"><!-- Marriage date block start -->
            <div class="col-span-4 sm:col-span-1 field">
              <%= form.label :liturgy, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.select :liturgy, Project.liturgies.keys.map{ |key, value| [ t("activerecord.attributes.project.liturgy_#{key}"), key] }, {}, { class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight" } %>
            </div>
            <div class="col-span-4 sm:col-span-3 field">
              <%= form.label :weddingdate, class: "block text-sm font-medium text-gray-700 required" %>
              <% if I18n.locale == :en then %>
              <%= form.datetime_select :weddingdate, { ampm: true }, { class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md" } %>
              <% else %>
              <%= form.datetime_select :weddingdate, { ampm: false }, { class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md" } %>
              <% end %>
            </div>
          </div><!--Marriage date block end -->
          <div class="grid grid-cols-4 gap-6"><!-- Marriage location church block start -->
            <div class="col-span-4 sm:col-span-2 field">
              <%= form.label :church, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.text_field :church, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight", placeholder: t('pages.projectNew.marriage_location.church_placeholder') %>
            </div>
            <div class="col-span-4 sm:col-span-2 field">
              <%= form.label :city, class: "block text-sm font-medium text-gray-700" %>
              <%= form.text_field :city, class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight", placeholder: t('pages.projectNew.marriage_location.city_placeholder') %>
            </div>
          </div><!--Marriage location block end -->
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-2 field">
              <%= form.label :celebrantNamePrefix, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.select :celebrantNamePrefix, options_for_select([
                    [t("pages.projectNew.celebrantPrefix.deacon"),t("pages.projectNew.celebrantPrefix.deaconAbbr")],
                    [t("pages.projectNew.celebrantPrefix.father"), t("pages.projectNew.celebrantPrefix.fatherAbbr")],
                    [t("pages.projectNew.celebrantPrefix.reverend"), t("pages.projectNew.celebrantPrefix.reverendAbbr")],
                    [t("pages.projectNew.celebrantPrefix.monsignor"), t("pages.projectNew.celebrantPrefix.monsignorAbbr")],
                    [t("pages.projectNew.celebrantPrefix.bishop"),t("pages.projectNew.celebrantPrefix.bishopFull")],
                    [t("pages.projectNew.celebrantPrefix.cardinal"),t("pages.projectNew.celebrantPrefix.cardinalFull")]
                  ],
                  (@project.celebrantNamePrefix  || t("pages.projectNew.celebrantPrefix.cardinalFull"))
                ),
                {},
                { class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" }
                %>
            </div>
            <div class="col-span-6 sm:col-span-2 field">
              <%= form.label :celebrantFirstName, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.text_field :celebrantFirstName, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: t('pages.projectNew.celebrantFirstName.placeholder'), autocomplete: 'off' %>
            </div>
            <div class="col-span-6 sm:col-span-2 field">
              <%= form.label :celebrantLastName, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.text_field :celebrantLastName, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: t('pages.projectNew.celebrantLastName.placeholder'), autocomplete: 'off' %>
            </div>
          </div>

        </div><!-- Card content end -->
      </div><!-- Card inner wrapper end -->
    </div><!-- Card outer wrapper end -->
    <div class="flex justify-between">
      <button type="button" data-action="click->tab-items#previousTab" class="p-3 my-3 ml-3 text-sm text-white bg-blue-800 hover:bg-blue-700 font-bold uppercase rounded-md outline-none inline-block focus:outline-none"><< Previous</button>
      <button type="button" data-action="click->tab-items#nextTab" class="p-3 my-3 mr-3 text-sm text-white bg-blue-800 hover:bg-blue-700 font-bold uppercase rounded-md outline-none inline-block focus:outline-none">Next >></button>
    </div>
  </div><!-- Inner wrapper for title + card end -->

  <!-- Slide 3 -->
  <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" data-action="change->tab-items#setIndex" data-tab-index=3>
  <div class="carousel-item absolute opacity-0 mt-10 sm:mt-0 bg-gray-200 p-4 invisible">
    <h3 class="text-lg font-medium leading-6 text-gray-900 mb-3"><%= t('pages.projectNew.wedding_party.title') %></h3><!-- Wedding party -->
    <p class="mt-1 text-sm text-gray-600">
      <%= t('pages.projectNew.wedding_party.description') %><!-- C -->
    </p>
    <div class="mt-5 md:mt-0">
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6" data-controller="wedding-party-member">
            <div class="col-span-1 sm:col-span-1 text-3xl">
              <i class="fas fa-chess-queen text-red-300"></i>
            </div>
            <div class="col-span-5 sm:col-span-2 field">
              <%= form.label :brideFirstName, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.text_field :brideFirstName, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", autocomplete: 'off' %>
            </div>
            <div class="col-span-6 sm:col-span-3 field">
              <%= form.label :brideLastName, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.text_field :brideLastName, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", autocomplete: 'off' %>
            </div>
            <div class="col-span-1 sm:col-span-1 text-3xl">
              <i class="fas fa-chess-king"></i>
            </div>
            <div class="col-span-5 sm:col-span-2">
              <%= form.label :groomFirstName, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.text_field :groomFirstName, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", autocomplete: 'off' %>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :groomLastName, class: "block text-sm font-medium text-gray-700 required" %>
              <%= form.text_field :groomLastName, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", autocomplete: 'off' %>
            </div>
            <div class="col-span-6 sm:col-span-6 text-center bold text-sm text-gray-500 italic">
                This wedding booklet project currently has <span data-wedding-party-member-target="count">0</span> wedding party members:
            </div>
            <% @project.wedding_party_members.each do |wedding_party_member| %>
            <%= form.fields_for :wedding_party_members, wedding_party_member do |f| %>
              <div  class="col-span-6 border-l-8 border-solid border-blue-700 rounded-lg weddingPartyMemberWrapper">
                <div class="w-full grid grid-cols-6 gap-6 border-t border-b border-r border-dashed border-gray-300 rounded-lg p-10 relative -left-2.5">
                  <% if ["maidofhonor", "bestman"].include?(wedding_party_member.role) === false %>
                  <div data-action="click->wedding-party-member#remove" class="bg-red-700 hover:bg-red-500 absolute top-2 right-2 inline-block p-2 rounded text-xs text-white cursor-pointer">
                      <i class="fas fa-trash-alt"></i>
                  </div>
                  <% end %>
                  <div class="col-span-6 sm:col-span-2">
                    <input type="hidden" class="weddingPartyMembersIndex" value="<%= f.index  %>" />
                    <%= f.label :role, class: "block text-sm font-medium text-gray-700 required" %>
                    <%= f.select :role,
                      WeddingPartyMember.roles.keys.map{ |key, value| [ t("activerecord.attributes.wedding_party_member.role_#{key}"), key ] },
                      {},
                      {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight",
                        data: { action: 'change->wedding-party-member#updateRelationshipStatus' }
                      }
                    %>
                  </div>
                  <div class="col-span-1 sm:col-span-1"><%= I18n.t('pages.projectNew.wedding_party.or') %></div>
                  <div class="col-span-6 sm:col-span-1">
                    <%= f.label :relationship, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.select :relationship,
                      WeddingPartyMember.relationships.keys.map{ |key, value| [ t("activerecord.attributes.wedding_party_member.relationship_#{key}")+(key != 'undefined' ? " of" : ""), key ] },
                      {},
                      {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight weddingPartyMemberRelationship",
                        disabled: (wedding_party_member.role != "undefined")
                      }
                    %>
                  </div>
                  <div class="col-span-6 sm:col-span-2">
                    <%= f.label :relationshipTo, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.select :relationshipTo,
                      options_for_select([
                          ["---",""],
                          [t("projects.new.weddingpartymember.relationshipto.theBride"),"theBride"],
                          [t("projects.new.weddingpartymember.relationshipto.theGroom"),"theGroom"],
                          [t("projects.new.weddingpartymember.relationshipto.theFamilyOfTheBride"),"theFamilyOfTheBride"],
                          [t("projects.new.weddingpartymember.relationshipto.theFamilyOfTheGroom"),"theFamilyOfTheGroom"],
                          [t("projects.new.weddingpartymember.relationshipto.theBrideAndTheGroom"),"theBrideAndTheGroom"],
                          [t("projects.new.weddingpartymember.relationshipto.theFamiliesOfTheBrideAndTheGroom"),"theFamiliesOfTheBrideAndTheGroom"]
                        ], (f.object.relationshipTo || "")),
                      {},
                      {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight weddingPartyMemberRelationshipTo",
                        disabled: (wedding_party_member.role != "undefined")
                      }
                    %>
                  </div>
                  <div class="col-span-1 sm:col-span-1">
                    <%= f.label :namePrefix, class: "block text-sm font-medium text-gray-700" %>
                    <%= f.select :namePrefix,
                      options_for_select([
                          ["---",""],
                          [t("projects.new.weddingpartymember.namePrefix.Mr"),"Mr."],
                          [t("projects.new.weddingpartymember.namePrefix.Mrs"),"Mrs."],
                          [t("projects.new.weddingpartymember.namePrefix.Ms"),"Ms."],
                          [t("projects.new.weddingpartymember.namePrefix.Mister"),"Mister"],
                          [t("projects.new.weddingpartymember.namePrefix.Missus"),"Missus"],
                          [t("projects.new.weddingpartymember.namePrefix.Miss"),"Miss"],
                          [t("projects.new.weddingpartymember.namePrefix.Madame"),"Madame"],
                          [t("projects.new.weddingpartymember.namePrefix.Madamesoille"),"Madamesoille"],
                          [t("projects.new.weddingpartymember.namePrefix.Master"),"Master"],
                          [t("projects.new.weddingpartymember.namePrefix.Rev"),"Rev."],
                          [t("projects.new.weddingpartymember.namePrefix.Reverend"),"Reverend"],
                        ], (f.object.namePrefix || "")),
                      {},
                      { class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full border-gray-300 rounded py-2 px-3 sm:text-sm leading-tight" }
                    %>
                  </div>
                  <div class="col-span-5 sm:col-span-2">
                    <%= f.label :firstName, class: "block text-sm font-medium text-gray-700 required" %>
                    <%= f.text_field :firstName, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", autocomplete: 'off' %>
                  </div>
                  <div class="col-span-6 sm:col-span-3">
                    <%= f.label :lastName, class: "block text-sm font-medium text-gray-700 required" %>
                    <%= f.text_field :lastName, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", autocomplete: 'off' %>
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>

            <div data-wedding-party-member-target="div" class="text-center col-span-6 sm:col-span-6 border-t-2 border-dotted">
              <button type="button" data-wedding-party-member-target="button" id="addWeddingPartyMember" class="p-3 m-3 text-sm text-blue-500 bg-blue-100 hover:bg-blue-200 hover:text-blue-800 font-bold uppercase rounded-md outline-none inline-block focus:outline-none">+ <%= t('pages.projectNew.addWeddingPartyMember') %></button>
            </div>
          </div>
        </div>
        <div class="flex justify-between px-4 py-3 bg-gray-50 sm:px-6 actions">
          <button type="button" data-action="click->tab-items#previousTab" class="p-3 my-3 ml-3 text-sm text-white bg-blue-800 hover:bg-blue-700 font-bold uppercase rounded-md outline-none inline-block focus:outline-none"><< Previous</button>
          <%= form.button nil, class: "p-3 text-lg text-white bg-indigo-600 hover:bg-indigo-700 font-bold rounded-md outline-none focus:outline-none align-middle" do %>
            <i class="fas fa-book-bible mr-3 text-2xl align-middle"></i>
            <%= (action_name == 'new') ? t('pages.projectNew.create_project_button') : t('pages.projectNew.update_project_button') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Add additional indicators for each slide-->
  <ol class="carousel-indicators">
    <li class="inline-block mr-3">
      <label for="carousel-1"
        class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
    </li>
    <li class="inline-block mr-3">
      <label for="carousel-2"
        class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
    </li>
    <li class="inline-block mr-3">
      <label for="carousel-3"
        class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
    </li>
  </ol>

  </div><!-- Carousel inner end -->
</div><!-- Carousel end -->
<% end %>
