<h1 class="text-lg text-center"><%= t('project.edit.title.editBookletProject') %></h1>

<%= render 'form', project: @project %>

<div class="absolute top-3 right-3">
<%= link_to @project, class: "mr-3 py-3 px-4 text-lg text-blue-500 bg-blue-100 hover:bg-blue-200 hover:text-blue-800 font-bold rounded" do %>
    <i class="far fa-eye mr-2"></i><%= t('projects.new.viewThisProject') %>
<% end %>
<% if @projects.size > 0 then %>
    <%= link_to projects_path, class: "py-3 px-4 text-lg text-purple-500 bg-purple-100 hover:bg-purple-200 hover:text-purple-800 font-bold rounded" do %>
        <i class="fa fa-search mr-2"></i><%= t('projects.new.viewYourProjects') %>
    <% end %>
<% end %>
</div>