<div class="bg-gray-400 p-1 pb-3">
  <h1 class="text-center text-xl p-4 text-blue-900"><%= t('pages.projectIndex.myWeddingBookletProjects') %></h1>
  <div class="container border rounded mx-auto tab-component bg-white">

    <ul class="flex border-b tab-buttons bg-gray-100 max-h-12">
        <% @projects.each_with_index do |project, index| %>
          <li>
            <button <%= if index == 0 then 'autofocus' end %> data-tab-index="<%= (index).to_s %>" class="tab-item bg-gray-400 inline-block py-2 px-4 border-gray-100 border-t border-r text-gray-100 hover:text-gray-200 hover:bg-gray-500 font-semibold focus:outline-none focus:bg-white focus:text-blue-700 h-12 focus:h-13 shadow-inner focus:shadow-none">
              <%= t('pages.projectIndex.bookletProject') + ' ' + (index+1).to_s %>
            </button>
          </li>
        <% end %>
        <li class="ml-3">
          <%= link_to '+', new_project_path, { title: t('pages.projectIndex.createNewProject'), class: "tab-item bg-white inline-block pb-1 px-3 mt-1 border text-gray-500 hover:bg-white hover:text-blue-800 focus:outline-none font-semibold rounded-3xl max-h-11" } %>
        </li>
    </ul>
    <ul class="tab-contents pb-6 pl-6 pr-6 py-6 text-lg">
        <% @projects.each_with_index do |project, index| %>
          <% if index == 0 then %>
          <li data-tab-content-index="<%= (index).to_s %>">
          <% else %>
          <li class="hidden" data-tab-content-index="<%= (index).to_s %>">
          <% end %>
            <% if project.isSecured %>
            <h5 class="text-green-800">
            <i class="fas fa-lock mr-3"></i><%= t('pages.projectIndex.projectIsPrivate') %>
            <% else %>
            <h5 class="text-red-800">
            <i class="fas fa-lock-open mr-3"></i><%= t('pages.projectIndex.projectIsPubliclyAccessible') %>
            <% if logged_in? %>
              <button class="bg-gray-300 p-3 rounded text-gray-600 text-sm hover:bg-gray-200 hover:text-gray-700 ml-6"><i class="fa fa-key mr-3"></i>Secure this project</button>
            <% else %>
              <i class="fa fa-info" title="If you do not want this project to be publicly accessible, create a user account. You will then be able to secure the project."></i>
            <% end %>
            <% end %>
            <h5>
            <table class="table-fixed mx-auto">
              <thead>
                <tr>
                  <th class="w-1/4"><%= t('activerecord.attributes.project.weddingdate') %></th>
                  <th class="w-1/4"><%= t('activerecord.attributes.project.church') %>, <%= t('activerecord.attributes.project.city') %></th>
                  <th class="w-1/4"><%= t('activerecord.attributes.user.role_celebrant') %></th>
                  <th class="w-1/4"><%= t('activerecord.attributes.project.liturgy') %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= project.weddingdate %></td>
                  <td><%= project.church %>,<br><%= project.city %></td>
                  <td><%= project.celebrantNamePrefix %><br><%= project.celebrantFirstName %> <%= project.celebrantLastName %></td>
                  <td><%= t("activerecord.attributes.project.liturgy_#{project.liturgy}") %></td>
                </tr>
              </tbody>
            </table>

            <h3 class="mt-6 font-bold font-sans text-blue-900 text-center"><%= t('pages.projectNew.wedding_party.title') %></h3>
            <table class="mt-3 mx-auto table-fixed">
              <thead>
                <tr>
                  <th class="w-1/2"><%= t('activerecord.attributes.user.role_bride') %></th>
                  <th class="w-1/2"><%= t('activerecord.attributes.user.role_groom') %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center"><%= project.brideFirstName %> <%= project.brideLastName %></td>
                  <td class="text-center"><%= project.groomFirstName %> <%= project.groomLastName %></td>
                </tr>
              </tbody>
            </table>
            <div class="grid grid-cols-3 gap-6 m-9 text-center text-xl">
              <div class="col-span-1">
                <%= link_to project, class: "py-3 px-4 hover:bg-blue-200 hover:text-blue-800 rounded border bg-blue-100" do %>
                  <i class="far fa-eye mr-3"></i><%= t('pages.projectIndex.previewThisProject') %>
                <% end %>
              </div>
              <div class="col-span-1">
                <%= link_to edit_project_path(project), class: "py-3 px-4 hover:bg-green-200 hover:text-green-800 rounded border bg-green-100" do %>
                  <i class="fas fa-pencil-alt mr-3"></i><%= t('pages.projectIndex.editThisProject') %>
                <% end %>
              </div>
              <div class="col-span-1">
                <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: "py-3 px-4 hover:bg-red-200 hover:text-red-800 rounded border bg-red-100" do %>
                  <i class="fas fa-trash-alt mr-3"></i><%= t('pages.projectIndex.deleteThisProject') %>
                <% end %>
              </div>
            </div>
            <div class="grid grid-cols-4 gap-0 m-9 text-center text-lg">
              <div class="col-span-1">
                <%= link_to '#', class: "py-3 px-4 hover:bg-blue-700 text-white hover:text-white rounded border bg-blue-900" do %>
                  <i class="fas fa-file-word mr-3"></i><%= t('pages.projectIndex.generateDOCX') %>
                <% end %>
              </div>
              <div class="col-span-1">
                <%= link_to '#', class: "py-3 px-4 hover:bg-blue-700 text-white hover:text-white rounded border bg-blue-900" do %>
                  <i class="fas fa-file-pdf mr-3"></i><%= t('pages.projectIndex.generatePDF') %>
                <% end %>
              </div>
              <div class="col-span-1">
                <%= link_to '#', class: "py-3 px-4 hover:bg-blue-700 text-white hover:text-white rounded border bg-blue-900" do %>
                  <i class="fas fa-file-code mr-3"></i><%= t('pages.projectIndex.generateLatex') %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'projectsIndex' %>
