<p id="notice"><%= notice %></p>

<input type="hidden" id="liturgy" value="<%= @project.liturgy %>" />
<input type="hidden" id="brideFirstName" value="<%= @project.brideFirstName %>" />
<input type="hidden" id="brideLastName" value="<%= @project.brideLastName %>" />
<input type="hidden" id="groomFirstName" value="<%= @project.groomFirstName %>" />
<input type="hidden" id="groomLastName" value="<%= @project.groomLastName %>" />
<input type="hidden" id="celebrantNamePrefix" value="<%= @project.celebrantNamePrefix %>" />
<input type="hidden" id="celebrantFirstName" value="<%= @project.celebrantFirstName %>" />
<input type="hidden" id="celebrantLastName" value="<%= @project.celebrantLastName %>" />
<input type="hidden" id="church" value="<%= @project.church %>" />
<input type="hidden" id="city" value="<%= @project.city %>" />
<input type="hidden" id="weddingdate" value="<%= @project.weddingdate %>" />
<input type="hidden" id="locale" value="<%= I18n.locale %>" />

<div class="flex flex-col h-screen">
  <div class="w-full text-center p-3 flex-shrink">
    <%= link_to edit_project_path(@project), class: "mr-3 -mt-1 py-3 px-4 text-lg text-green-500 bg-green-100 hover:bg-green-200 hover:text-green-800 font-bold rounded-b" do %>
      <i class="fas fa-pencil-alt mr-2"></i><%= t('projects.show.editThisProject') %>
    <% end %>
    <% if @projects.size > 0 then %>
      <%= link_to projects_path, class: "py-3 px-4 text-lg text-purple-500 bg-purple-100 hover:bg-purple-200 hover:text-purple-800 font-bold rounded-b" do %>
          <i class="fa fa-search mr-2"></i><%= t('projects.new.viewYourProjects') %>
      <% end %>
    <% end %>
    <span style="font-family:'EB Garamond';color:white;">.</span>
    <span style="font-family:'Tangerine';color:white;">.</span>
    <span style="font-family:'Pinyon Script';color:white;">.</span>
  </div>
  <canvas id="booklet" class="flex-grow w-full min-h-0 border-solid border-2 border-green-800" style="image-rendering: pixelated;image-rendering: crisp-edges;"></canvas>
</div>
<%= javascript_pack_tag '../src/titleCaps' %>
<%= javascript_pack_tag 'projectPreview' %>