<!DOCTYPE html>
<html>
  <head>
    <title><%= t('page-title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      (function(I18n) {
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale.to_s %>";
      }(this.I18n = {}))
    </script>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">

  </head>

  <body class="bg-blue-50 text-blue-600 text-center text-2xl font-sans">
    <% unless current_page?(root_path) %>
    <div class="bg-white text-indigo-600 px-6 py-3 inline-block fixed top-0 right-0">
      <% if logged_in? %>
        <% case current_user.role.to_sym %>
        <% when :bride %>
        <%   icon = "fas fa-female text-red-400" %>
        <% when :groom %>
        <%   icon = "fas fa-user-tie text-blue-400" %>
        <% when :celebrant %>
        <%   icon = "fas fa-cross text-purple-400" %>
        <% when :guest %>
        <%   icon = "fas fa-user-circle text-green-400" %>
        <% end %>
        <div><span><%= t('application.welcome') %></span>, <i class="<%= icon %> mx-3"></i><%= current_user.username %><i class="ml-6 fas fa-bars text-gray-700"></i></div>
      <% else %>
        <div><i class="fas fa-user-alt-slash text-gray-400 mr-3"></i><span><%= t('application.hello') %></span>, <%= t('application.guest') %></div>
      <% end %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
