<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('application.title') %></title>
    <meta charset="UTF-8">
    <meta name="description" content="<%= t('application.description') %>">
    <meta name="keywords" content="<%= t('application.keywords') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <%= hotwire_livereload_tags if Rails.env.development? %>

    </head>

  <body class="bg-black text-blue-400 text-center text-2xl font-sans">
    <main class="bg-black text-blue-400 text-center text-2xl font-sans">
      <nav class="bg-green-100">
        <% if logged_in? %>
          <% case current_user.role.to_sym %>
          <% when :bride %>
          <%   icon = "fas fa-female text-red-400" %>
          <% when :groom %>
          <%   icon = "fas fa-user-tie text-blue-400" %>
          <% when :celebrant %>
          <%   icon = "fas fa-cross text-purple-400" %>
          <% when :guest %>
          <%   icon = "fas fa-user-circle text-green-400" %>
          <% end %>
          <div><i class="<%= icon %> mr-3"></i><span><%= t('application.welcome') %></span>, <%= current_user.username %></div>
        <% else %>
          <div><i class="fas fa-user-alt-slash text-gray-400 mr-3"></i><span><%= t('application.hello') %></span>, <%= t('application.guest') %></div>
        <% end %>
      </nav>

      <%= yield %>
    </main>
  </body>
</html>
