<!DOCTYPE html>
<html>
  <head>
    <title>MarriageBooklet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-black text-blue-400 text-center text-2xl font-sans">
    <%= yield %>
  </body>
</html>
